.banner-card {
  background-image: url("https://images.unsplash.com/photo-1558236797-297feec52d44?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1738&q=80");
  background-size: contain;
  color: white;
  padding: 120px 0;
}

body {
color: #494949;
font-family: 'Roboto', sans-serif;
font-size: 18px;
line-height: 1.6;
font-weight: lighter;
  }

h1 {
  font-family: 'Roboto', sans-serif;
  color: #FFFFFF ;
  text-align: center;
}

h2{
  font-family: 'Montserrat', sans-serif;
  color: #FFFFFF ;

}

h3{
  font-family: 'Montserrat', sans-serif;
  color: #A0A0A0;
  text-align: justify;

}

#title-article{
  font-family: 'Montserrat', sans-serif;
  color: #A0A0A0 ;
  text-align: justify;
}

#title-description-banner{
  font-family: 'Playfair Display', serif;
  color: #FFFFFF ;
  text-align: center;
}


.card {
  background-color: #FFFFFF;
  padding: 5px;
  margin: 20px 0px;
  text-align: center;
  }

.link-medium {
  background-image:linear-gradient(to bottom, rgba(233, 253, 240, 1), rgba(233, 253, 240, 1));
  color: #354D49;
  font-family:'Playfair Display', serif;
  font-weight: lighter;
  font-size: 25px;
  font-style: italic;
}

.link-medium a {
  text-decoration: none;
  color: #354D49;
}

.link-medium:hover {
  padding: 15px;
  color: #354D49;
  background-color: #354D49;
  }

#color-link {
  font-family: 'Roboto', sans-serif;
  color: #FFFFFF;
  }

.container {
  border-radius: 20px;
  width: 700px;
  margin-top: 50px;
  margin-right: auto;
  margin-bottom: 50px;
  margin-left: auto;
}


@media (max-width: 960px) {
    /* For a screen < 960px, this CSS will be read */
    .container {
      width: 700px;
    }
  }

@media (max-width: 720px) {
    /* For a screen < 720px, this CSS will be read */
    .container {
      width: 500px;
    }
  }

@media (max-width: 540px) {
    /* For a screen < 540px, this CSS will be read */
    .container {
      width: 300px;
    }
  }
